################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/SPMElements/v16
/packages/MathNet.Numerics.4.12.0
/SPMElements/obj/Debug
/packages
/SPMElements/bin/Debug
